body{
    background-color: rgb(69, 8, 8);
    cursor: url(./images/cursorl.png), auto;
}
#überschriften{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    gap: 5vw;
    height: 10vw;
    position: fixed;
    z-index: 10;
    top: 0;
}

#überschriften img{
    display: block;
    height: auto;
    width: 10vw;
    transition: transform 0.5s ease;  
}

#überschriften p{
    margin-top: 2vh;
    font-family: myfont1;
    color: #F9F9F9 ;
    font-size: 4vw;
    text-align: right;
    transition: transform 0.5s ease; 
}
#überschriften a{
    transition: transform 0.3s ease;
    cursor: url(./images/cursor.png), auto;
}


a:link{
    text-decoration: none;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18vh;
    /*align-items: center;
    
    width: 10vw;*/
}
.galerie img{
    width: 30vw;
    margin: 1vw;
}
.galerie a{
    transition: transform 0.3s ease;
    cursor: url(./images/cursor.png), auto;
}
a:hover{
    transform: scale(1.1);
}

@font-face {
    font-family: myfont1;
    src: url(./fonts/schrift1.ttf);
}