body{
    background-color: rgb(69, 8, 8);
}
#überschriften{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 5vw;
    height: 10vw;
    line-height: 10vw;
}

#überschriften img{
    display: block;
    height: auto;
    width: 10vw;
}
#überschriften p{

    font-family: myfont1;
    color: #F9F9F9 ;
    font-size: 4vw;
}



@font-face {
    font-family: myfont1;
    src: url(./fonts/schrift1.ttf);
}